@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
:root{
    --main-color:#fff;
    --main-contrast-color: #222;
    --second-color:#efefef;
    --third-color:#91E5F6;
    --fourth-color:#FFC700;
    --fiveth-color:#201E50;
    --sixth-color:#E75A7C;
    
}
*{
    box-sizing: border-box;
}
body{
    margin:0
}